### FIFA WorldCUP 2018 Tactics Analysis

The Data for the **FIFA WorldCUP** has been pulled with information on team formations, aka tactics. I will analyze the win percentage of each tactic against the other tactics it faced. The results will be viewed as 9 (3x3) pie charts, each titled with a specific tactic and the slices corresponding to each opposing tactics win percent versus the titular.


The DataFrame will be set up with each tactic as the index, and series titles as ["% Win Against tacticA", "% Win Against
tacticB", ...] Each index will be populated with:

    number of games won against tacticA /
    total games played against tacticA

_Another_ DataFrame will be added with index of rounds played, and series titles of ["France Tactic", "Opponent Tactic", "Opponent"]. This is will be displayed as a table with each countries flag watermarked behind thier name, and Frances Flag watermarked accross the entire background.

In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# url to fifa data csv
fifa_url = 'https://worldcup.sfg.io/teams/results'

In [2]:
# Import csv *** contains JSONS format in some indeces ***

matches_url = 'https://worldcup.sfg.io/matches'
match_df = pd.DataFrame(requests.get(matches_url).json())
match_df.tail()

,attendance,away_team,away_team_country,away_team_events,away_team_statistics,datetime,fifa_id,home_team,home_team_country,home_team_events,...,last_score_update_at,location,officials,stage_name,status,time,venue,weather,winner,winner_code
59,44287,"{'country': 'Croatia', 'code': 'CRO', 'goals':...",Croatia,"[{'id': 1095, 'type_of_event': 'yellow-card', ...","{'country': 'Croatia', 'attempts_on_goal': 17,...",2018-07-07T18:00:00Z,300331504,"{'country': 'Russia', 'code': 'RUS', 'goals': ...",Russia,"[{'id': 1094, 'type_of_event': 'goal', 'player...",...,2018-07-07T20:51:30Z,Fisht Stadium,"[Sandro RICCI, Emerson DE CARVALHO, Marcelo VA...",Quarter-finals,completed,full-time,Sochi,"{'humidity': '70', 'temp_celsius': '24', 'temp...",Croatia,CRO
60,64286,"{'country': 'Belgium', 'code': 'BEL', 'goals':...",Belgium,"[{'id': 1122, 'type_of_event': 'substitution-o...","{'country': 'Belgium', 'attempts_on_goal': 9, ...",2018-07-10T18:00:00Z,300331531,"{'country': 'France', 'code': 'FRA', 'goals': ...",France,"[{'id': 1121, 'type_of_event': 'goal', 'player...",...,2018-07-10T19:54:35Z,Saint Petersburg Stadium,"[Andres CUNHA, Nicolas TARAN, Mauricio ESPINOS...",Semi-finals,completed,full-time,St. Petersburg,"{'humidity': '75', 'temp_celsius': '18', 'temp...",France,FRA
61,78011,"{'country': 'England', 'code': 'ENG', 'goals':...",England,"[{'id': 1137, 'type_of_event': 'goal', 'player...","{'country': 'England', 'attempts_on_goal': 11,...",2018-07-11T18:00:00Z,300331522,"{'country': 'Croatia', 'code': 'CRO', 'goals':...",Croatia,"[{'id': 1138, 'type_of_event': 'yellow-card', ...",...,2018-07-11T20:37:36Z,Luzhniki Stadium,"[Cuneyt CAKIR, Bahattin DURAN, Tarik ONGUN, Bj...",Semi-finals,completed,full-time,Moscow,"{'humidity': '64', 'temp_celsius': '21', 'temp...",Croatia,CRO
62,64406,"{'country': 'England', 'code': 'ENG', 'goals':...",England,"[{'id': 1163, 'type_of_event': 'substitution-o...","{'country': 'England', 'attempts_on_goal': 15,...",2018-07-14T14:00:00Z,300331536,"{'country': 'Belgium', 'code': 'BEL', 'goals':...",Belgium,"[{'id': 1160, 'type_of_event': 'goal', 'player...",...,2018-07-14T15:52:28Z,Saint Petersburg Stadium,"[Alireza FAGHANI, Reza SOKHANDAN, Mohammadreza...",Play-off for third place,completed,full-time,St. Petersburg,"{'humidity': '45', 'temp_celsius': '26', 'temp...",Belgium,BEL
63,78011,"{'country': 'Croatia', 'code': 'CRO', 'goals':...",Croatia,"[{'id': 1178, 'type_of_event': 'goal-own', 'pl...","{'country': 'Croatia', 'attempts_on_goal': 15,...",2018-07-15T15:00:00Z,300331552,"{'country': 'France', 'code': 'FRA', 'goals': ...",France,"[{'id': 1179, 'type_of_event': 'yellow-card', ...",...,2018-07-15T16:54:32Z,Luzhniki Stadium,"[Nestor PITANA, Hernan MAIDANA, Juan Pablo BEL...",Final,completed,full-time,Moscow,"{'humidity': '51', 'temp_celsius': '27', 'temp...",France,FRA

In [3]:
# toggle to view away_team_statistics indeces json layout

# match_df.iloc[0,4]

In [4]:
# build list of away team's tactics 
away_team_tactics_list = []

for a in range(len(match_df["away_team_statistics"])):
    away_tactics = match_df["away_team_statistics"][a]["tactics"]
    away_team_tactics_list.append(away_tactics)


# Toggle to view list
# away_team_tactics_list

In [5]:
# build list of home teams tactic's
home_team_tactics_list = []

for h in range(len(match_df["home_team_statistics"])):
    home_tactics = match_df["home_team_statistics"][h]["tactics"]
    home_team_tactics_list.append(home_tactics)
    
# Toggle to view list
# home_team_tactics_list

In [6]:
# build list of away team's countries
country_list_away = []

for ac in range(len(match_df["away_team_statistics"])):
    away_country = match_df["away_team_statistics"][ac]["country"]
    country_list_away.append(away_country)
    
# toggle to view list
# country_list_away

In [7]:
# build list of home team's countries
country_list_home = []

for hc in range(len(match_df["home_team_statistics"])):
    home_country = match_df["home_team_statistics"][hc]["country"]
    country_list_home.append(home_country)
    
# toggle to view list
# country_list_home

# Tactics DataFrame

In [8]:
# build tactics FIFA 2018 Tactics DataFrame
tactics_df = pd.DataFrame({
    "Home Country": country_list_home,
    "Home Country Tactics": home_team_tactics_list,
    "Away Country": country_list_away,
    "Away Country Tactics": away_team_tactics_list,
    "Winner": match_df.iloc[:,-2]
})

tactics_df.head(5)

,Home Country,Home Country Tactics,Away Country,Away Country Tactics,Winner
0,Russia,4-2-3-1,Saudi Arabia,4-5-1,Russia
1,Egypt,4-2-3-1,Uruguay,4-4-2,Uruguay
2,Morocco,3-4-3,Iran,3-4-3,Iran
3,Portugal,4-2-3-1,Spain,4-2-3-1,Draw
4,France,4-3-3,Australia,4-2-3-1,France

In [21]:
#set up new set of series with 1 or 0 showing if the tactic was used in a particular game


for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "3-4-2-1" and (tactics_df.loc[f,"Away Country Tactics"]) == "3-4-2-1":
        tactics_df.loc[f, "3-4-2-1"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "3-4-2-1":
        tactics_df.loc[f, "3-4-2-1"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "3-4-2-1":
        tactics_df.loc[f, "3-4-2-1"] = 1
        
    else:
        tactics_df.loc[f, "3-4-3"] = 0        

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "3-4-3" and (tactics_df.loc[f,"Away Country Tactics"]) == "3-4-3":
        tactics_df.loc[f, "3-4-3"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "3-4-3":
        tactics_df.loc[f, "3-4-3"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "3-4-3":
        tactics_df.loc[f, "3-4-3"] = 1
        
    else:
        tactics_df.loc[f, "3-4-3"] = 0

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "3-5-2" and (tactics_df.loc[f,"Away Country Tactics"]) == "3-5-2":
        tactics_df.loc[f, "3-5-2"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "3-5-2":
        tactics_df.loc[f, "3-5-2"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "3-5-2":
        tactics_df.loc[f, "3-5-2"] = 1
        
    else:
        tactics_df.loc[f, "3-5-2"] = 0       

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "4-2-3-1" and (tactics_df.loc[f,"Away Country Tactics"]) == "4-2-3-1":
        tactics_df.loc[f, "4-2-3-1"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "4-2-3-1":
        tactics_df.loc[f, "4-2-3-1"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "4-2-3-1":
        tactics_df.loc[f, "4-2-3-1"] = 1
        
    else:
        tactics_df.loc[f, "4-2-3-1"] = 0


for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "4-3-2-1" and (tactics_df.loc[f,"Away Country Tactics"]) == "4-3-2-1":
        tactics_df.loc[f, "4-3-2-1"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "4-3-2-1":
        tactics_df.loc[f, "4-3-2-1"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "4-3-2-1":
        tactics_df.loc[f, "4-3-2-1"] = 1
        
    else:
        tactics_df.loc[f, "4-3-2-1"] = 0

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "4-3-3" and (tactics_df.loc[f,"Away Country Tactics"]) == "4-3-3":
        tactics_df.loc[f, "4-3-3"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "4-3-3":
        tactics_df.loc[f, "4-3-3"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "4-3-3":
        tactics_df.loc[f, "4-3-3"] = 1
        
    else:
        tactics_df.loc[f, "4-3-3"] = 0


for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "4-4-2" and (tactics_df.loc[f,"Away Country Tactics"]) == "4-4-2":
        tactics_df.loc[f, "4-4-2"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "4-4-2":
        tactics_df.loc[f, "4-4-2"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "4-4-2":
        tactics_df.loc[f, "4-4-2"] = 1
        
    else:
        tactics_df.loc[f, "4-4-2"] = 0   

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "4-5-1" and (tactics_df.loc[f,"Away Country Tactics"]) == "4-5-1":
        tactics_df.loc[f, "4-5-1"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "4-5-1":
        tactics_df.loc[f, "4-5-1"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "4-5-1":
        tactics_df.loc[f, "4-5-1"] = 1
        
    else:
        tactics_df.loc[f, "5-4-1"] = 0

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "5-4-1" and (tactics_df.loc[f,"Away Country Tactics"]) == "5-4-1":
        tactics_df.loc[f, "5-4-1"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "5-4-1":
        tactics_df.loc[f, "5-4-1"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "5-4-1":
        tactics_df.loc[f, "5-4-1"] = 1
        
    else:
        tactics_df.loc[f, "5-4-1"] = 0

for f in range(len(tactics_df["Winner"])): 
    
    if (tactics_df.loc[f,"Home Country Tactics"])== "5-3-2" and (tactics_df.loc[f,"Away Country Tactics"]) == "5-3-2":
        tactics_df.loc[f, "5-3-2"] = 2
    
    elif tactics_df.loc[f,"Home Country Tactics"] == "5-3-2":
        tactics_df.loc[f, "5-3-2"] = 1
        
    elif tactics_df.loc[f,"Away Country Tactics"] == "5-3-2":
        tactics_df.loc[f, "5-3-2"] = 1
        
    else:
        tactics_df.loc[f, "5-3-2"] = 0
        

        
tactics_df.head()

,Home Country,Home Country Tactics,Away Country,Away Country Tactics,Winner,3-4-3,3-4-2-1,3-5-2,4-2-3-1,4-3-2-1,4-3-3,4-4-2,4-5-1,5-4-1,5-3-2
0,Russia,4-2-3-1,Saudi Arabia,4-5-1,Russia,0.0,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Egypt,4-2-3-1,Uruguay,4-4-2,Uruguay,0.0,NaN,0.0,1.0,0.0,0.0,1.0,NaN,0.0,0.0
2,Morocco,3-4-3,Iran,3-4-3,Iran,2.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,Portugal,4-2-3-1,Spain,4-2-3-1,Draw,0.0,NaN,0.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0
4,France,4-3-3,Australia,4-2-3-1,France,0.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,0.0,0.0

In [11]:
away_tactics = tactics_df.groupby(["Away Country"])
home_tactics = tactics_df.groupby(["Home Country Tactics"])
atactics = away_tactics.sum()
atactics

,3-4-3,3-4-2-1,3-5-2,4-2-3-1,4-3-2-1,4-3-3,4-4-2,4-5-1,5-4-1,5-3-2
Away Country,,,,,,,,,,
Argentina,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
Australia,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0
Belgium,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
Brazil,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
Colombia,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
Costa Rica,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
Croatia,1.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
Denmark,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0
Egypt,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0
England,1.0,0.0,5.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
France,0.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0
Germany,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
Iceland,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
Iran,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Japan,1.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Korea Republic,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
Mexico,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0,0.0,0.0
Morocco,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0
Nigeria,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
Panama,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
Peru,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Poland,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Portugal,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0
Russia,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
Saudi Arabia,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0
Senegal,0.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0
Serbia,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
Spain,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
Sweden,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0
Switzerland,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0
Tunisia,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
Uruguay,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# sum of each home tactic
htactics = home_tactics.sum()
htactics

,3-4-3,3-4-2-1,3-5-2,4-2-3-1,4-3-2-1,4-3-3,4-4-2,4-5-1,5-4-1,5-3-2
Home Country Tactics,,,,,,,,,,
3-4-2-1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3-4-3,7.0,0.0,1.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0
3-5-2,1.0,0.0,5.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0
4-2-3-1,2.0,0.0,2.0,48.0,0.0,5.0,4.0,2.0,2.0,1.0
4-3-2-1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4-3-3,0.0,0.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0,0.0
4-4-2,0.0,0.0,1.0,5.0,0.0,2.0,11.0,1.0,0.0,0.0
4-5-1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,3.0,0.0,0.0
5-4-1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
#set up new series that shows if the tactic won against against the other tactics

# for f in range(len(tactics_df["Winner"])): 
    
#     if  tactics_df.loc[f,"Home Country Tactics"] == "5-3-2":
#         tactics_df.loc[f, "5-3-2"] = 1
        
#     else:
#         tactics_df.loc[f, "5-3-2"] = 0
        
# for f in range(len(tactics_df["Winner"])):
#     if tactics_df.loc[f,]
 
# IF "Home Country Tactics" == "3-4-2-1" & "Home Country" != "Winner":
#     print(1) 
# ELSE:
#     IF "Away Country Tactics" == "3-4-2-1" & "Away Country" != "Winner":
#         print(1)
#     ELSE:
#         print(0)
            
#     else:
#         print("Away Country: " + row["Away Country"])
#         print(row["Away Country Tactics"])
#     print()
    
# tactics_df = "vs. 3-4-3" = 
# IF "Home Country Tactics" == "3-4-3" & "Home Country" != "Winner":
#     print(1) 
# ELSE:
#     IF "Away Country Tactics" == "3-4-3" & "Away Country" != "Winner":
#         print(1)
#     ELSE:
#         print(0)

# # etc...

blank markdown

In [14]:
# show home country tactics for 3-4-3 tactic
tactics_df_3421 = tactics_df.loc[tactics_df["Home Country Tactics"] == "3-4-3", :]
tactics_df_3421

,Home Country,Home Country Tactics,Away Country,Away Country Tactics,Winner,3-4-3,3-4-2-1,3-5-2,4-2-3-1,4-3-2-1,4-3-3,4-4-2,4-5-1,5-4-1,5-3-2
2,Morocco,3-4-3,Iran,3-4-3,Iran,2.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
22,Argentina,3-4-3,Croatia,4-2-3-1,Croatia,1.0,NaN,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0
26,Belgium,3-4-3,Tunisia,4-3-3,Belgium,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,0.0
31,Poland,3-4-3,Colombia,4-2-3-1,Colombia,1.0,NaN,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0
53,Belgium,3-4-3,Japan,4-2-3-1,Belgium,1.0,NaN,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0
62,Belgium,3-4-3,England,3-5-2,Belgium,1.0,NaN,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [15]:
tactics_df_343a = tactics_df.loc[tactics_df["Away Country Tactics"] == "4-2-3-1", :]
len(tactics_df_343a)

29

In [16]:
# home_tactics = tactics_df.groupby(["Home Country Tactics"])

# home_tactics = grouped_tactics.count().head(64)

# home_tactics = grouped_tactics[["Home Country"]]
# home_tactics.reset_index(inplace = True)
# home_tactics = home_tactics.rename(columns = {
#     "Home Country Tactics": "Country Tactics"
# })
# home_tactics

NameError: name 'grouped_tactics' is not defined

In [22]:
# count of tactics used by away teams
away_tactics = tactics_df.groupby(["Away Country Tactics"])

away_tactics = away_tactics.count().head(64)
away_tactics = away_tactics[["Away Country"]]
away_tactics.reset_index(inplace = True)
away_tactics = away_tactics.rename(columns = {
    "Away Country Tactics": "Country Tactics"})
away_tactics

  Country Tactics  Away Country
0           3-4-3             4
1           3-5-2             6
2         4-2-3-1            29
3           4-3-3             9
4           4-4-2             8
5           4-5-1             5
6           5-3-2             1
7           5-4-1             2

In [23]:
# count of tactics used by home teams
home_tactics = tactics_df.groupby(["Home Country Tactics"])

home_tactics = home_tactics.count().head(64)
home_tactics = home_tactics[["Away Country"]]
home_tactics.reset_index(inplace = True)
home_tactics = home_tactics.rename(columns = {
    "Home Country Tactics": "Country Tactics"})
home_tactics

  Country Tactics  Away Country
0         3-4-2-1             1
1           3-4-3             6
2           3-5-2             5
3         4-2-3-1            33
4         4-3-2-1             1
5           4-3-3             4
6           4-4-2            10
7           4-5-1             3
8           5-4-1             1

In [ ]:
# Find unique total of tactics ***There is 9***
z = tactics_df["Home Country Tactics"].drop_duplicates()

# toggle to show total
# (z)